{% extends 'cancer/index.html' %}

{% block body %}

<div class="container">
	<div class="row">

		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header bg-success">changepassword</div>

				<div class="card-body">
					<form action="{% url 'changepassword' %}" method="POST">
						{% csrf_token %}
						<label>oldpassword</label><input type="text" name="old" class="form-control"><br>
						<label>newpassword</label><input type="text" name="newp"class="form-control"><br>
						
						<label>confirmpassword</label><input type="text" name="conp" class="form-control"><br>
						<input type="submit" name="submit" >
					</form>
					
							
				</div>
				<div class="card-footer bg-success">
						 
				</div>

				
			</div>

		
		</div>
	</div>	
	  

</div>

{% endblock %}